*.swp
*.swn
*.swo

.netrwhist
.github_token

test/pack/
pack/
bundle/
bundle
autoload/plug.vim

.yank_history_v2.txt
.easyclip
vimbackup/
.complete_plugin
.vimshell/
local.vim
.vim-bookmarks
org/
.neocomplete/
.screenlock
.LfCache/

sessions/
undodir/
spell/
