*.swp
*.swn
*.swo
.viminfo

.netrwhist
.github_token

test/pack/
pack/
bundle/repos
bundle/.cache
autoload/plug.vim

sessions/
undodir/
spell/
backup/
swap/

.yank_history_v2.txt
.easyclip
.complete_plugin
.vim-bookmarks
org/
.screenlock
