*.swp
*.swn
*.swo
.viminfo

.netrwhist
.github_token

test/pack/
pack/
bundle/
autoload/plug.vim

session/
undodir/
spell/
backup/
swap/

.fzf-history/
org/
.yank_history_v2.txt
.easyclip
.complete_plugin
.vim-bookmarks
.screenlock
